* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// FONT

// SCALA--

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 900;
// font-style: normal;

// FAKIR----

// font-family: fakir-new, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: fakir-new, sans-serif;
// font-weight: 700;
// font-style: normal;

body {
  background: #f5a787;
  font-family: ff-scala-sans-pro, sans-serif;
  padding: 0;
}

.philosophy {
  background: #c1a9d4;
}

.wine-article {
  background: #e2e5c3;
}

.vigneron {
  background: #ec9a9c;
}
.degustation {
  background: #5b97a3;
}

//------>header

.container-fluid {
  padding: 0;
}

.container-fluid .row {
  padding: 30px;
}

header {
  position: relative;
  margin-bottom: 85px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-background img {
  width: 100%;
  height: 100%;
}

.header-background {
  width: 100%;
  height: auto;
  padding: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.navigation,
.wine-header,
.slogan p {
  position: relative;
  z-index: 3;
}

.wine-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottle-decoration {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 62px;
}

.shadow-bottles-header {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  // left: 0;
}

.shadow-bottles-header img {
  width: 100%;
  height: 100%;
}

.wine-header .img-bottle-header {
  // width: 132.978px;
  // height: 517px;
  width: 20%;
  height: auto;
}

.slogan p {
  color: #fff;
  text-align: center;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.slogan .scrolling-text {
  bottom: 30%;
  left: 0;
  position: absolute;
  z-index: 0;
}

// navigation

.logo-sda {
  width: 100%;
  height: auto;
  transition: filter 0.4s ease;
}

.navigation {
  display: flex;
  align-items: flex-start;
}

.navigation a {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.header-background {
  display: flex;
}

.navigation-left .nav-domaine,
.navigation-right .nav-contact {
  display: flex;
  height: 19px;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}

.navigation-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.navigation-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 23px;
}

.user-space {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.user-space .icon {
  width: 27px;
  height: 25px;
}

// navigation hover--->

.navigation a:hover {
  color: #dc5b26;
}

.logo-sda:hover {
  filter: drop-shadow(0px 0px 25px #dc5b26);
  // animation: shadow-drop-center 0.4s both;
}

// button language

.button-language {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 11px;
  background: #000;
}

.button-language p {
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 900;
  font-size: 15px;
  color: white;
}

.button-language svg {
  width: 8px;
  height: 7px;
  fill: rgba(255, 255, 255, 0.6);
}

// ///////<-------ARTICLE------->////////

.article {
  margin-top: 85px;
  margin-bottom: 85px;
}

.article h1 {
  color: #000;
  font-family: "Fakir Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article p {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: flex-start;
}

.article-info-text {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.article-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.vigneron .article-img {
  margin-left: calc((100vw - 1116px) / 2 * -1);
  padding-right: 50px;

  img {
    width: 100%;
  }
}

.degustation .article-img {
  margin-right: calc((100vw - 1116px) / 2 * -1);
  padding-left: 50px;

  img {
    width: 100%;
  }
}

// philosophy and call to action-->
.philosophy .article h1,
.philosophy .article p,
.Wine-call-to-action .article h1,
.Wine-call-to-action .article h2,
.Wine-call-to-action .article p {
  text-align: center;
}

.philosophy .button,
.Wine-call-to-action .button {
  margin: auto;
}

// ARTICLE VIN---->

.wine-article {
  position: relative;
}

.path-wine-article {
  background: #e6edaa;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
  border-radius: 60% 60% 0% 0% / 60% 60% 0%;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wine-article-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

.wine-article h1 {
  color: #000;
  font-family: "Fakir Pro";
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.article-wine-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-wine-presentation .img-bottle-presentation {
  // width: 132.978px;
  // height: 517px;
  width: 30%;
  height: auto;
  transition: filter 0.4s ease;
  // animation-name: wiggle;
  // animation-duration: 2s;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count: infinite;
}

// hover article vin--->

.wine-article-info:hover .img-bottle-presentation {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 25px #9b59cf);
}

@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

// ///////<-------FOOTER------->////////

footer {
  background: white;
}

footer h2 {
  font-size: 18px;
}

footer h3 {
  font-family: "Scala Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

footer .container {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

// contact--->
.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

// email--->

.email-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-illustration {
  width: 20%;
  height: auto;
}

.email-inscription {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;
  height: auto;
}

.email-inscription h2 {
  text-align: center;
}

.button.email-button {
  display: flex;
  justify-content: space-between;
  width: 293px;
  height: auto;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.3);
}

.button.email-button a {
  color: rgba(0, 0, 0, 0.7);
}

.certification {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
}

.language-button-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

// infos section--->

.footer-infos-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-footers-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.open-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// logo footer--->
.logo-footer img {
  width: 40%;
  height: auto;
}

.logo-footer {
  display: flex;
  justify-content: center;
}

// copyright--->
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright a {
  text-decoration: none;
  font-family: "Scala Sans Pro";
  font-size: 15px;
  font-weight: 300;
}

.certification img {
  width: 50%;
  height: auto;
}

// ///////<-------BUTTON------->////////

.button {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #000;
  // background-repeat: repeat-x;
  // background-position: 0 -100%;
  // background-image: url(../img/button-hover-background.svg);
  // transition: 1s ease;
  // transform: background-position 1.5s ease-in-out;
}

.button-language,
.button {
  background-repeat: repeat-x;
  background-position: 0 -100%;
  background-image: url(../img/button-hover-background.svg);
  transition: 0.7s ease;
}

.button a {
  color: #fff;
  text-align: center;
  font-family: "Scala Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  // transition: 1s ease;
}

// Hover--->
.button:hover,
.button-language:hover {
  // color: #000;
  background-position: center;
  transform: background-image translateY(50%);
  // background-image: url(../img/button-hover-background.svg);
  // background-position: 0 100%;
}

// ///////<-------ANIMATION------->////////

.scrolling-text {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  background-color: black;
  padding: 10px;
}

.animate-text {
  font-family: "Scala Sans Pro";
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  animation: animate-text 40s linear infinite;
}

@keyframes animate-text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

// ARTICLE VIN ANIMATION--->

.text-animation-vin.left {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(90deg);
}

.text-animation-vin.right {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: bottom right;
  transform: translateY(-100%) rotate(-90deg);
}

.text-animation-vin .scrolling-text {
  width: auto;
  transition: 1s ease;
}

.text-animation-vin .animate-text {
  font-family: "Scala Sans Pro";
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  animation: animate-text 40s linear infinite;
}

// article vin animation hover--->

.wine-article:hover .text-animation-vin .scrolling-text {
  background: #9b59cf;
}

// /////<------RESPONSIVE------>/////

// navigation-->

// big

@media (min-width: 1671px) {
  // navigation--->
  .navigation a {
    font-size: 16px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 44px;
  }
  .slogan p {
    font-size: 30px;
  }
}

// large

@media (min-width: 1250px) and (max-width: 1670px) {
  // navigation--->
  .navigation a {
    font-size: 13px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 44px;
  }
  .user-space {
    gap: 25px;
  }

  .user-space .icon {
    width: 27px;
    height: 25px;
  }
}

// mid

@media (min-width: 850px) and (max-width: 1249px) {
  // navigation--->
  .navigation a {
    font-size: 10px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 30px;
  }
  .user-space {
    gap: 20px;
  }

  .user-space .icon {
    width: 27px;
    height: 25px;
  }
  header {
    margin-bottom: 45px;
  }
  .slogan .scrolling-text {
    bottom: 30%;
  }
  // animation--->
  .animate-text {
    font-size: 20px;
  }
}

// small

@media (max-width: 849px) {
  // navigation--->
  .navigation a {
    font-size: 8px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 15px;
  }
  .user-space {
    gap: 15px;
  }
  .user-space .icon {
    width: 27px;
    height: 25px;
  }
  .slogan p {
    font-size: 15px;
  }
  header {
    margin-bottom: 30px;
  }
  // animation--->
  .animate-text {
    font-size: 20px;
  }
}

// //////PAGE PRODUCT WHITE//////

body.product-white-wine {
  background: #c1a9d4;
}

.header-product {
  margin-bottom: 0;
}

.product-white {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 480px;
}

.product-white .wine-header {
  // position: absolute;
  // top: 45%;
  // height: 100%;
  aspect-ratio: 30/40;
  transform: translateY(40%);
}

.product-white .bottle-decoration {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  border-radius: 80% 80% 0% 0% / 60% 60% 0%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    radial-gradient(47.1% 48.13% at 50.17% 48.54%, #e6edaa 0%, #000 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-white .img-bottle-header {
  position: absolute;
  bottom: 13%;
  width: 33%;
  height: auto;
}

.white-product-info {
  background: #e6edaa;
  margin: 0;
}

.product-text-info {
  margin-top: 240px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.white-product-info p {
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-white .bottle-decoration .cart-button {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 18px;
  background: #9b59cf;
  padding: 20px 30px;
}

.cart-button p {
  font-family: "Scala Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.cart-button img {
  width: 100%;
  height: auto;
}

.Wine-call-to-action {
  background: #c1a9d4;
}

// hover--->

.product-white .bottle-decoration:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    radial-gradient(47.1% 48.13% at 50.17% 48.54%, #9b59cf 0%, #000 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-white .bottle-decoration .cart-button:hover,
.cart-button:hover p,
.cart-button:hover img {
  background: #e6edaa;
  color: #000;
}

// .product-white .bottle-decoration .cart-button a {
//   display: flex;
//   flex-direction: row;
//   align-content: flex-end;
//   justify-content: space-between;
//   align-items: center;
// }
