* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

// FONT

// SCALA--

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: ff-scala-sans-pro, sans-serif;
// font-weight: 900;
// font-style: normal;

// FAKIR----

// font-family: fakir-new, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: fakir-new, sans-serif;
// font-weight: 700;
// font-style: normal;

body {
  background: #f5a787;
  font-family: ff-scala-sans-pro, sans-serif;
  padding: 0;
}

.philosophy {
  background: #c1a9d4;
}

.wine-article {
  background: #e2e5c3;
}

.vigneron {
  background: #ec9a9c;
}
.degustation {
  background: #5b97a3;
}

//------>header

.container-fluid {
  padding: 0;
}

.container-fluid .row {
  padding: 30px;
}

header {
  position: relative;
  margin-bottom: 85px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-background img {
  width: 100%;
  height: 100%;
}

.header-background {
  width: 100%;
  height: auto;
  padding: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.navigation,
.wine-header,
.slogan p {
  position: relative;
  z-index: 3;
}

.wine-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottle-decoration {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 62px;
}

.shadow-bottles-header {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  // left: 0;
}

.shadow-bottles-header img {
  width: 100%;
  height: 100%;
}

.wine-header .img-bottle-header {
  // width: 132.978px;
  // height: 517px;
  width: 20%;
  height: auto;
}

.slogan p {
  color: #fff;
  text-align: center;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.slogan .scrolling-text {
  bottom: 30%;
  left: 0;
  position: absolute;
  z-index: 0;
}

// navigation

.logo-sda {
  width: 50%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: flex-start;
}

.navigation a {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.header-background {
  display: flex;
}

.navigation-left .nav-domaine,
.navigation-right .nav-contact {
  display: flex;
  height: 19px;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}

.navigation-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.navigation-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 23px;
}

.user-space {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.user-space .icon {
  width: 27px;
  height: 25px;
}

// button language

.button-language {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 11px;
  background: #000;
}

.button-language p {
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 900;
  font-size: 15px;
  color: white;
}

.button-language svg {
  width: 8px;
  height: 7px;
  fill: rgba(255, 255, 255, 0.6);
}

// ///////<-------ARTICLE------->////////

.article {
  margin-top: 85px;
  margin-bottom: 85px;
}

.article h1 {
  color: #000;
  font-family: "Fakir Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article p {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: "Scala Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: flex-start;
}

.article-info-text {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.article-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

// philosophy-->
.philosophy .article h1,
.philosophy .article p {
  text-align: center;
}

.philosophy .button {
  margin: auto;
}

// ARTICLE VIN---->

.wine-article {
  position: relative;
}

.path-wine-article {
  background: #e6edaa;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
  border-radius: 60% 60% 0% 0% / 60% 60% 0%;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wine-article-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

.wine-article h1 {
  color: #000;
  font-family: "Fakir Pro";
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.article-wine-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-wine-presentation .img-bottle-presentation {
  // width: 132.978px;
  // height: 517px;
  width: 30%;
  height: auto;
}

// ///////<-------FOOTER------->////////

footer {
  background: white;
}

footer h2 {
  font-size: 18px;
}

footer h3 {
  font-family: "Scala Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

// contact--->
.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

// email--->

.email-section {
  display: flex;
  flex-direction: column;
}

.footer-illustration {
  width: 20%;
  height: auto;
}

.button.email-button {
  display: flex;
  justify-content: space-between;
  width: 293px;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.3);
}

.button.email-button a {
  color: rgba(0, 0, 0, 0.7);
}

// infos section--->

.footer-infos-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-footers-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.open-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// logo footer--->
.logo-footer img {
  width: 40%;
  height: auto;
}

.logo-footer {
  display: flex;
  justify-content: center;
}

// copyright--->
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright a {
  text-decoration: none;
  font-family: "Scala Sans Pro";
  font-size: 15px;
  font-weight: 300;
}

// ///////<-------BUTTON------->////////

.button {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #000;
}

.button a {
  color: #fff;
  text-align: center;
  font-family: "Scala Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

// ///////<-------ANIMATION------->////////

.scrolling-text {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  background-color: black;
  padding: 10px;
}

.animate-text {
  font-family: "Scala Sans Pro";
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  animation: animate-text 40s linear infinite;
}

@keyframes animate-text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

// ARTICLE VIN ANIMATION--->

.text-animation-vin.left {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(90deg);
}

.text-animation-vin.right {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: bottom right;
  transform: translateY(-100%) rotate(-90deg);
}

.text-animation-vin .scrolling-text {
  width: auto;
}

.text-animation-vin .animate-text {
  font-family: "Scala Sans Pro";
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  animation: animate-text 40s linear infinite;
}

// /////<------RESPONSIVE------>/////

// navigation-->

// big

@media (min-width: 1671px) {
  // navigation--->
  .navigation a {
    font-size: 16px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 44px;
  }
  .slogan p {
    font-size: 30px;
  }
}

// large

@media (min-width: 1250px) and (max-width: 1670px) {
  // navigation--->
  .navigation a {
    font-size: 13px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 44px;
  }
  .user-space {
    gap: 25px;
  }

  .user-space .icon {
    width: 27px;
    height: 25px;
  }
}

// mid

@media (min-width: 850px) and (max-width: 1249px) {
  // navigation--->
  .navigation a {
    font-size: 10px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 30px;
  }
  .user-space {
    gap: 20px;
  }

  .user-space .icon {
    width: 27px;
    height: 25px;
  }
  header {
    margin-bottom: 45px;
  }
  .slogan .scrolling-text {
    bottom: 30%;
  }
  // animation--->
  .animate-text {
    font-size: 20px;
  }
}

// small

@media (max-width: 849px) {
  // navigation--->
  .navigation a {
    font-size: 8px;
  }
  .navigation-left .nav-domaine,
  .navigation-right .nav-contact {
    gap: 15px;
  }
  .user-space {
    gap: 15px;
  }
  .user-space .icon {
    width: 27px;
    height: 25px;
  }
  .slogan p {
    font-size: 15px;
  }
  header {
    margin-bottom: 30px;
  }
  // animation--->
  .animate-text {
    font-size: 20px;
  }
}
